<% if @user.errors.any? %>
  <div class="ui negative message">
    <ul class="list">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>